<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>RRPersistenceTests</string>
	<key>CFBundleExecutable</key>
	<string>RRPersistenceTests</string>
	<key>CFBundleIdentifier</key>
	<string>com.rrpersistence.tests</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>RRPersistenceTests</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleResourceSpecification</key>
	<string>InfoPlist.strings</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (c) 2024 Ronald Ruiz. All rights reserved.</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>13.0</string>
</dict>
</plist>
